{{!-- 
<a class="articleURL" href="{{ this.articleURL }}">
  <div id="picture">
    <img src="{{ this.imgURL }}">
  </div>
</a> --}}

<div class="row">
<div class="col-md-6 col-md-offset-5">
  <div id="content">


  <div id="buttons" class="buttons text-left">
  <button id="previous" data-id="{{ this._id }}" class="btn"> <span class="glyphicon glyphicon-chevron-left"></span> </button>
    <button id="next" data-id="{{ this._id }}" class="btn"> <span class="glyphicon glyphicon-chevron-right"></span> </button>
  </div>



<div class="text-left">
    <h2>{{ this.title }}</h2>
    <p>{{ this.synopsis }}</p>
    </div>
  </div>



</div>
</div>
{{!-- <a class="articleURL" href="{{ this.articleURL }}"> --}}
<br/>
{{!-- </a> --}}
<div class="row">
<div class="col-md-4 col-md-offset-3">

<div id="arms1">
  <div class="comments newNote text-left">
    <input id="comment" type="text" name="comment" placeholder="words">

    <button id="post" data-id="{{ this._id }}"  class="btn"> <span class="glyphicon glyphicon-plus"></span> </button>
  </div>
</div>

</div>
<div class="col-md-4">

<div id="arms2">
  <div class="comments previousNote text-left">
    <div id="comment-holder">
      {{#each this.comments as |value key|}}
        <p>{{ addOne key }}. {{ value.text }} </p>
      {{/each}}
    </div>
  </div>
</div>


</div>
</div>

